<div class="detail_term">TERM</div>
<div class="detail_definitions">Definitions</div>

<script type="text/javascript">
	$(document).ready(function(){
		var displayTerm = $('.active').text();
	});
</script>